@font-face {
    font-family: 'SVN-Product Sans';
    src: url('poppins/SVN-ProductSansBoldItalic.woff2') format('woff2'),
        url('poppins/SVN-ProductSansBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Product Sans';
    src: url('poppins/SVN-ProductSans.woff2') format('woff2'),
        url('poppins/SVN-ProductSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 
@font-face {
    font-family: 'SVN-Product Sans';
    src: url('poppins/SVN-ProductSansItalic.woff2') format('woff2'),
        url('poppins/SVN-ProductSansItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Product Sans';
    src: url('poppins/SVN-ProductSansBold.woff2') format('woff2'),
        url('poppins/SVN-ProductSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

